.Login {
    padding: 10rem 10.4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
        font-size: 10rem;
        color: white;
        font-family: 'Oswald';
    }

    &-form {
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-input {
        background-color: transparent;
        border: none;
        color: white;

        padding: 1rem;
        font-size: 2rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid white;
    }

    &-error {
        color: red;
        font-size: 2rem;
    }

    &-submit {
        color: white;
        transition: all .2s ease-out; 

        &:hover {
            color: var(--magenta);
        }
    }

    &-create {
        margin-top: 2rem;
        background-color: transparent;
        border: none;
        color: grey;
        font-size: 1.6rem;
        transition: color .1s ease-out;

        cursor: pointer;

        &:hover {
            color: white;
        }
    }
}

.testCredentials {
    font-size: 1.6rem;
    color: var(--cyan);
}