.Transactions {
    overflow-y: scroll;
    scrollbar-width: none;


    &-title {
        margin-bottom: 1rem;
    }

    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding: 1rem 0;

        &:not(:last-child) {
            border-bottom: .5px solid var(--background-light)
        }

        &-left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-items: center;
        }

        &-right {
            display: flex;
        }

        &-icon {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;
            background-color: var(--background-light);
            padding: 1rem;
            border-radius: 20rem;
            margin-right: 1.5rem;
        }

        &-info {
            display: flex;
            flex-direction: column;

        }

        &-vendor {
            font-size: 2rem;
            margin-bottom: .5rem;
        }

        &-date {
            font-size: 1.4rem;
        }


        &-amount {
            font-family: 'Oswald', sans-serif;
            font-size: 2.4rem;
            color: var(--background-light-2)
        }
    }

    .icon-recurring {
        fill: var(--background);
    }
}
